# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Environment variables
.env
.env.*

# Logs
*.log

# Python testing
.pytest_cache/